{% extends 'index.html' %}

{% block body %}


<div class="" id="dvLogin">
    <form action="/cadwriter" class="form-group" method="POST">
        <h1>Be a newer Writer!</h1>
        {% csrf_token %}
        <div class="row">
        <div class="input-group col-md-5">
            <span class="input-group-addon">
                 <i class="fa fa-black-tie">Name:</i>
            </span>   
            <input name="displayname" required type="text" class="input-group" placeholder="Seu nome de exibição">
        </div>
    </div>

    <div class="row">
        <div class="input-group col-md-5">
            <span class="input-group-addon">
                <i class="fa fa-briefcase">Username:</i>
            </span>
            <input name="username" required type="text" class="input-group" placeholder="Seu nome de usuario">
        </div>
    </div>
    <div class="row">
        <div class="input-group col-md-5">
                <span class="input-group-addon">
                    <i class="fa fa-key">Password:</i>
                </span>
                <input id="password" name="password" required type="password" class="input-group" placeholder="Sua senha">
        </div>
    </div>
    <div class="row">
        <div class="input-group col-md-5">
                <span class="input-group-addon">
                    <i class="fa fa-key">Re-Password:</i>
                </span>
                <input oninput="validacao_senha(this)" type="password" required class="input-group" placeholder="Confirme sua senha">
        </div>

    </div>
        <button type="submit">Go!</button>
    </form>


</div>
<script>
function validacao_senha(pass_confirm){
    if (pass_confirm.value != document.getElementById("password").value){
        pass_confirm.setCustomValidity("Senhas diferem, redigite os campos");
    
    }else {
        pass_confirm.setCustomValidity("");
    }
}
</script>
{% endblock %}