<!DOCTYPE html>
<html>
    {% load staticfiles %}
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'core/css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/bootstrap-grid.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/bootstrap-reboot.min.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="{% static 'core/css/font-awesome.min.css' %}"> -->
</head>
<body>
    <nav class="navbar navbar-expand bg-dark navbar-dark" id="navegation-bar">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link navbar-brand" href="/">
                    Simple CMS
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/loginpage">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">Cadastrar-se</a>
            </li>
        </ul>
    
        <ul class="navbar-nav">
            <li>aaa</li>
        </ul>
    </nav>
        
{% block body %}

<div class="jumbotron">
    <div class="container">
        <form id="frmChoices" class="form-control" action="">
            <button id="btnPosting" class="btn btn-default">Postagem</button>
            <button id="btnListing" class="btn btn-warning">Listagem</button>
        </form>
        
    </div>
    
    
</div>
{% endblock %}

    <script src="{% static 'core/js/jquery-3.2.1.js' %}"></script>
    <script src="{% static 'core/js/app.js' %}"></script>
	
</body>
</html>