html {
    font-family: Arial, Helvetica, sans-serif;
}

 body {
    color: #333;
    font-weight: 100;
    /* max-width: 50em; */
    margin: 0 auto;
} 

div:focus {
    outline: none;
}

#title {
    font-size: 48px;
    padding-top:30px;
}

#content {
    padding-top: 10px;
    font-size: 24px;
}

#box_text {
    background-color: rgba(41, 25, 25, 0.658);
}
#dvLogin {
    background-color: rgb(46, 165, 165);
    padding-top: 1em;
    padding-bottom: 1em;
}
#dvLogin h1 {
    color: bisque;
}